.content {
  display: flex;
  text-align: center;
  margin: 20px;
}
.imgPetit {
  width: 200px;
  height: 200px;
  border-radius: 250px;
  padding: 20px;
}
.imgGran {
  width: 500px;
  height: 500px;
  border-radius: 250px;
}
.imgnull {
  display: none;
}
